{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

    <h1>Formulario V1! ✅</h1>

    {{ form(form) }}
    {# form(form, {"method":"GET"}) #}

{% endblock %}
